@{
    ViewBag.Title = "Home Page";
}
<div id="center_content">
    <div class="moduletable">
        <div class="top_com">Introduction</div>
        <div class="mid_com">
            <p style="text-align: justify;"><span style="font-size: medium; color: #99cc00;"><strong>Welcome to House To Home (H2H),</strong></span></p>
            <p style="text-align: justify;">
                <span style="font-size: small;">
                    You are
                    foreigners, you are finding an apartment or a villa/house for rent in
                    Phu My Hung but you have no time or ideas about price, areas, house
                    styles…that suite to your favorite, your budget? Let<span style="color: #99cc00;"> <strong>H2H</strong></span> do it for you.
                </span>
            </p>
            &nbsp;<a class="readon" href="http://www.house2home.com.vn/index.php?option=com_vnson_content&amp;view=content&amp;id=1&amp;Itemid=2&amp;lang=en">Read more</a>
        </div>
        <div class="bot_com"></div>
    </div>
    <div class="moduletable">
        <div class="top_com">Apartment for rent</div>
        <div class="mid_com">
            <div class="list_pro_cate block_cate">
                <div class="left block_cate">
                    <div class="img">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=715&amp;Itemid=2&amp;lang=en">
                            <img src="~/images/apartment-for-rent-in-riverside-phu-my-hung%2520%252012602.jpg" alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=715&amp;Itemid=2&amp;lang=en">
                            BEST PRICE: apartment for rent 2 rooms in Riverside.
                        </a>
                        <div>Locates on highfloor, river view, lovely and peaceful. Very clean and well maintenance w/ full fur...</div>
                        <div class="more">
                            <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=715&amp;Itemid=2&amp;lang=en">
                                More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="price">900<span>&nbsp;USD/month</span></div>
                 
                    <div class="code">Code:&nbsp;RS396</div>
                </div>
            </div>
            <div class="list_pro_sepa"></div>
            <div class="list_pro_cate block_cate">
                <div class="left block_cate">
                    <div class="img">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=714&amp;Itemid=2&amp;lang=en">
                            <img src="~/images/apartment-for-rent-in-phu-my-hung%25209223.jpg" alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=714&amp;Itemid=2&amp;lang=en">
                            HOT: Lovely apartment for rent in Riverside w/ good price.
                        </a>
                        <div>Nice furniture, modern style, view river. Cozy bedrooms, opened kitchen, white cabinet. Good price...</div>
                        <div class="more">
                            <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=714&amp;Itemid=2&amp;lang=en">
                                More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="price">1000<span>&nbsp;USD/month</span></div>
                    <!--
                    <div class="available">

                                            Available
                                    </div>
                    -->
                    <div class="code">Code:&nbsp;RS395</div>
                </div>
            </div>
            <div class="list_pro_sepa"></div>
            <div class="list_pro_cate block_cate">
                <div class="left block_cate">
                    <div class="img">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=707&amp;Itemid=2&amp;lang=en">
                            <img src="~/images/apartment-for-rent-in-phu-my-hung%2520%25209593.jpg" alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=707&amp;Itemid=2&amp;lang=en">
                            The most beautiful penthouse for rent in Panorama, Phu My Hung.
                        </a>
                        <div>Huge size, wonderful view, luxurious furniture, classic style. Western kitchen with built-in Oven ...</div>
                        <div class="more">
                            <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=707&amp;Itemid=2&amp;lang=en">
                                More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="price">3500<span>&nbsp;USD/month</span></div>
                    <!--
                    <div class="available">

                                            Available
                                    </div>
                    -->
                    <div class="code">Code:&nbsp;PN388</div>
                </div>
            </div>
            <div class="list_pro_sepa"></div>
            <div class="list_pro_cate block_cate">
                <div class="left block_cate">
                    <div class="img">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=706&amp;Itemid=2&amp;lang=en">
                            <img src="~/images/apartment-for-rent-in-phu-my-hung%2520%252025314.jpg" alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=706&amp;Itemid=2&amp;lang=en">
                            Apartment new furniture for rent in Riverside.
                        </a>
                        <div>Brand new furniture, clean and windy. Locates on highfloor, very open view, nice balcony, close ki...</div>
                        <div class="more">
                            <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=706&amp;Itemid=2&amp;lang=en">
                                More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="price">850<span>&nbsp;USD/month</span></div>
                    <!--
                    <div class="available">

                                            Available
                                    </div>
                    -->
                    <div class="code">Code:&nbsp;RS387</div>
                </div>
            </div>
        </div>
        <div class="bot_com"></div>
    </div>
    <div class="moduletable">
        <div class="top_com">Villa for rent</div>
        <div class="mid_com">
            <div class="list_pro_cate block_cate">
                <div class="left block_cate">
                    <div class="img">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=716&amp;Itemid=63&amp;lang=en">
                            <img src="~/images/villa-for-rent-in-phu-my-hung%252015429.jpg" alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=716&amp;Itemid=63&amp;lang=en">
                            Nice villa for rent in Phu My, District 7.
                        </a>
                        <div>A big house for big family with full furniture and 5 bedrooms. very clean, spacious and bright. We...</div>
                        <div class="more">
                            <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=716&amp;Itemid=63&amp;lang=en">
                                More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="price">1800<span>&nbsp;USD/month</span></div>
                    <!--
                    <div class="available">

                                            Available
                                    </div>
                    -->
                    <div class="code">Code:&nbsp;PM397</div>
                </div>
            </div>
            <div class="list_pro_sepa"></div>
            <div class="list_pro_cate block_cate">
                <div class="left block_cate">
                    <div class="img">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=713&amp;Itemid=63&amp;lang=en">
                            <img src="~/images/villa-for-rent-in-my-phu%2520%2520567.jpg" alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=713&amp;Itemid=63&amp;lang=en">
                            The newest villa for rent in My Phu 3, Phu My Hung.
                        </a>
                        <div>Everything new from the top to bottom with 4 cozy bedrooms, nice opened kitchen, built-in microwav...</div>
                        <div class="more">
                            <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=713&amp;Itemid=63&amp;lang=en">
                                More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="price">1800<span>&nbsp;USD/month</span></div>
                    <!--
                    <div class="available">

                                            Available
                                    </div>
                    -->
                    <div class="code">Code:&nbsp;MP394</div>
                </div>
            </div>
            <div class="list_pro_sepa"></div>
            <div class="list_pro_cate block_cate">
                <div class="left block_cate">
                    <div class="img">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=712&amp;Itemid=63&amp;lang=en">
                            <img src="~/images/villa-for-rent-in-phu-my-hung%2520%252031733.jpg" alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=712&amp;Itemid=63&amp;lang=en">
                            Attractive villa for rent in Hung Thai, Phu My Hung.
                        </a>
                        <div>It's really interesting villa with wonderful garden, nice decoration, Western style, separate kitc...</div>
                        <div class="more">
                            <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=712&amp;Itemid=63&amp;lang=en">
                                More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="price">2300<span>&nbsp;USD/month</span></div>
                    <!--
                    <div class="available">

                                            Available
                                    </div>
                    -->
                    <div class="code">Code:&nbsp;HT393</div>
                </div>
            </div>
            <div class="list_pro_sepa"></div>
            <div class="list_pro_cate block_cate">
                <div class="left block_cate">
                    <div class="img">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=710&amp;Itemid=63&amp;lang=en">
                            <img src="~/images/villa-for-rent-in-phu-my-hung%25206395.jpg" alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=710&amp;Itemid=63&amp;lang=en">
                            Single villa with pool for rent in My Phu, Phu My Hung.
                        </a>
                        <div>One of the nice villa with pool for rent in South side of Phu My Hung, good size, nice garden. Goo...</div>
                        <div class="more">
                            <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=710&amp;Itemid=63&amp;lang=en">
                                More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="price">3500<span>&nbsp;USD/month</span></div>
                    <!--
                    <div class="available">

                                            Available
                                    </div>
                    -->
                    <div class="code">Code:&nbsp;MP391</div>
                </div>
            </div>
        </div>
        <div class="bot_com"></div>
    </div>

    <table class="blog" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>