
@{
    ViewBag.Title = "AddLocation";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form role="form">
    <div class="form-group col-sm-6 row">
        <label for="inputdefault" class="col-sm-2">Location</label>
        <input class="form-control col-sm-10" id="location" type="text">
    </div>
    <div class="form-group col-sm-6 row">
        <label  class="col-sm-2">Property</label>
        <input class="form-control col-sm-10" id="property" type="text">
    </div>
    <button type="button" class="btn btn-default" onclick="btnAddLocation()">Insert</button>
</form>

<script>
    function btnAddLocation() {
        alert(document.getElementById("location").value);
    }
</script>