
@{
    ViewBag.Title = "Footer";
}
@{
    Layout = null;
}
<div>
    <div class="moduletable">
        <div class="top_both">ADDITIONAL HOUSE VIEW</div>
        <div class="mid_both block_cate">
            <div class="bg_gal_cate">
                <div class="bg_gal_cate_img">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_gallery&amp;view=category&amp;id=1&amp;Itemid=71&amp;lang=en">
                        <img src="~/images/19424292320120301005142Apartment_for_rent_in_Phu_My_Hung10.jpg" alt="">
                    </a>
                </div>
                <div class="bg_gal_cate_name">
                    New Residence
                </div>
            </div>
            <div class="bg_gal_cate">
                <div class="bg_gal_cate_img">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_gallery&amp;view=category&amp;id=1&amp;Itemid=71&amp;lang=en">
                        <img src="~/images/90994541820120301011447Grandview.jpg" alt="">
                    </a>
                </div>
                <div class="bg_gal_cate_name">
                    Apartment
                </div>
            </div>
            <div class="bg_gal_cate">
                <div class="bg_gal_cate_img">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_gallery&amp;view=category&amp;id=1&amp;Itemid=71&amp;lang=en">
                        <img src="~/images/78019892320120301014810My_Phu.jpg" alt="">
                    </a>
                </div>
                <div class="bg_gal_cate_name">
                    Villa
                </div>
            </div>
            <div class="bg_gal_cate">
                <div class="bg_gal_cate_img">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_gallery&amp;view=category&amp;id=1&amp;Itemid=71&amp;lang=en">
                        <img src="~/images/6868556820120301012501Office_for_lease_PMH.jpg" alt="">
                    </a>
                </div>
                <div class="bg_gal_cate_name">
                    Office
                </div>
            </div>
            <div class="bg_gal_cate">
                <div class="bg_gal_cate_img">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_gallery&amp;view=category&amp;id=1&amp;Itemid=71&amp;lang=en">
                        <img src="~/images/91573697220120301013311Townhouse_GF.jpg" alt="">
                    </a>
                </div>
                <div class="bg_gal_cate_name">
                    House
                </div>
            </div>
        </div>
        <div class="bot_both"></div>
    </div>
    <div style="padding: 10px 5px;" class="footer_info">
            <div id="block_first">
                <div class="title_block_first">About us</div>
                <div class="mid_block_first">
                    <p style="text-align: left;">
                        <span style="font-size: small; font-family: arial,helvetica,sans-serif;"><strong>Welcome to </strong></span><span style="font-family: arial,helvetica,sans-serif; font-size: small;"><span style="color: #99cc00;"><strong>HOUSE TO HOME (H2H), </strong></span></span><span style="font-size: small; font-family: arial,helvetica,sans-serif;">
                            We
                            are pleased to introduce you a professional service in providing
                            properties for rent in Phu My Hung such apartment, villa, house, office.
                        </span>
                    </p>
                    &nbsp;<a class="readon" href="http://www.house2home.com.vn/index.php?option=com_vnson_content&amp;view=content&amp;id=8&amp;Itemid=69&amp;lang=en">Read more</a>
                </div>
            </div>
        
            <div class="block_pro_bot">
                <div class="title_block_first">LATEST APARTMENT</div>
                <div class="mid_pro_bot">
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=715&amp;Itemid=2&amp;lang=en">
                            BEST PRICE: apartment for
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=714&amp;Itemid=2&amp;lang=en">
                            HOT: Lovely apartment for
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=707&amp;Itemid=2&amp;lang=en">
                            The most beautiful penthouse
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=706&amp;Itemid=2&amp;lang=en">
                            Apartment new furniture for
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=705&amp;Itemid=2&amp;lang=en">
                            Apartment 2BRs for rent in
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                </div>
            </div>
        
            <div class="block_pro_bot">
                <div class="title_block_first">LATEST VILLA</div>
                <div class="mid_pro_bot">
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=716&amp;Itemid=63&amp;lang=en">
                            Nice villa for rent in Phu
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=713&amp;Itemid=63&amp;lang=en">
                            The newest villa for rent in
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=712&amp;Itemid=63&amp;lang=en">
                            Attractive villa for rent in
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=710&amp;Itemid=63&amp;lang=en">
                            Single villa with pool for
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=709&amp;Itemid=63&amp;lang=en">
                            Big big villa for rent in My
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                </div>
            </div>
        
            <div class="block_pro_bot">
                <div class="title_block_first">Guideline</div>
                <div class="mid_pro_bot">
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_news&amp;view=news&amp;id=37&amp;Itemid=5&amp;lang=en">
                            Phu My Hung's Emergency
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_news&amp;view=news&amp;id=34&amp;Itemid=5&amp;lang=en">
                            Part 3: Relocation
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_news&amp;view=news&amp;id=33&amp;Itemid=5&amp;lang=en">
                            Part 2: Making Contract
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_news&amp;view=news&amp;id=32&amp;Itemid=5&amp;lang=en">
                            Part 1: Housing
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                </div>
            </div>
        
            <div class="block_pro_bot">
                <div class="title_block_first">NEWS</div>
                <div class="mid_pro_bot">
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_news&amp;view=news&amp;id=40&amp;Itemid=41&amp;lang=en">
                            Cheap
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_news&amp;view=news&amp;id=39&amp;Itemid=41&amp;lang=en">
                            Launching newest
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                    <div class="list_blue">
                        <a href="http://www.house2home.com.vn/index.php?option=com_vnson_news&amp;view=news&amp;id=36&amp;Itemid=41&amp;lang=en">
                            Canh Vien 3 - Peaceful Place
                        </a>
                    </div>
                    <div class="sepa_dot"></div>
                </div>
            </div>
    </div>

</div>