@{
    ViewBag.Title = "Left";
}
@{
    Layout = null;
}
<div id="left_content">
    <div class="wmt11" style="position: absolute;display:block; text-indent:-0px; top: -1231380px; overflow: auto"><a title="đồ chơi cho bé" href="http://babycuatoi.vn/" name="đồ chơi cho bé" rel="dofollow">đồ chơi cho bé</a><a title="đồ chơi trẻ em" href="http://babycuatoi.vn/" name="đồ chơi trẻ em" rel="dofollow">đồ chơi trẻ em</a></div>		<div class="moduletable">





        <div id="bg_mod_tk" class="block_right">
            <div class="top_side_left">SEARCH</div>
            <div class="mid_search">
                <div class="mid_search_in">
                    <div class="title_input_search">Property</div>
                    <div class="input_search">
                        <select id="loai_bds" name="loai_bds">
                            <option selected="selected" value="0">Select property</option>
                            <option value="3">Apartment for rent</option>
                            <option value="159">Other</option>
                            <option value="21">Townhouse/Office</option>
                            <option value="1">Villa for rent</option>
                        </select>
                    </div>



                    <div style="display: none;" class="title_input_search areas">Area </div>
                    <div style="display: none;" class="input_search areas">
                        <select id="areas" name="areas">
                            <option selected="selected" value="">Select Area</option>

                        </select>
                    </div>

                    <div class="title_input_search">Location</div>
                    <div class="input_search">
                        <select id="loc" name="loc"><option selected="selected" value="">Select location</option><option value="Apartment for rent" id="3">Apartment for rent</option><option value="District 7" id="160">District 7</option><option value="Villa for rent" id="1">Villa for rent</option><option value="Townhouse/Office" id="21">Townhouse/Office</option><option value="Other" id="159">Other</option><option value="Canh Vien" id="130">Canh Vien</option><option value="Garden Plaza " id="131">Garden Plaza </option><option value="Garden Court " id="132">Garden Court </option><option value="Grandview" id="133">Grandview</option><option value="Greenview" id="134">Greenview</option><option value="My An" id="136">My An</option><option value="Hung Gia" id="151">Hung Gia</option><option value="My Canh" id="137">My Canh</option><option value="Hung Phuoc" id="152">Hung Phuoc</option><option value="Lam Thien Luc Dia" id="114">Lam Thien Luc Dia</option><option value="My Duc" id="138">My Duc</option><option value="My Toan" id="153">My Toan</option><option value="My Giang" id="115">My Giang</option><option value="My Khang" id="139">My Khang</option><option value="My Hoang" id="154">My Hoang</option><option value="My Hao" id="116">My Hao</option><option value="My Khanh" id="140">My Khanh</option><option value="My Hung" id="155">My Hung</option><option value="My Hoang" id="117">My Hoang</option><option value="My Phat" id="141">My Phat</option><option value="My Hung" id="118">My Hung</option><option value="My Phuc" id="142">My Phuc</option><option value="My Kim" id="119">My Kim</option><option value="My Phuoc" id="143">My Phuoc</option><option value="My Quang" id="120">My Quang</option><option value="My Vien" id="144">My Vien</option><option value="My Tu" id="121">My Tu</option><option value="Nam Khang" id="145">Nam Khang</option><option value="My Phu" id="122">My Phu</option><option value="Panorama" id="146">Panorama</option><option value="My Thai" id="123">My Thai</option><option value="Parkview" id="147">Parkview</option><option value="My Van" id="124">My Van</option><option value="Riverpark" id="148">Riverpark</option><option value="Nam Do" id="125">Nam Do</option><option value="Riverside" id="149">Riverside</option><option value="Nam Long" id="126">Nam Long</option><option value="Sky Garden " id="150">Sky Garden </option><option value="Nam Quang" id="127">Nam Quang</option><option value="Nam Thien" id="128">Nam Thien</option><option value="Phu Gia" id="129">Phu Gia</option><option value="Phu My" id="156">Phu My</option><option value="Hung Thai" id="158">Hung Thai</option></select>
                    </div>



                    <div class="title_input_search">Size</div>
                    <div class="input_search">
                        <select id="sizes" name="sizes">
                            <option selected="selected" value="0">Select size</option>
                            <option value="1">50 -100m2</option>
                            <option value="2">100 -150m2</option>
                            <option value="3">200 -300m2</option>
                            <option value="4">300 -400m2</option>
                            <option value="5">Over 400m2</option>
                        </select>
                    </div>

                    <div class="title_input_search">Bedroom</div>
                    <div class="input_search">
                        <select id="bedrooms" name="bedrooms">
                            <option selected="selected" value="0">Select bedroom</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6 or more</option>
                        </select>
                    </div>

                    <div class="title_input_search">Price</div>
                    <div class="input_search">
                        <select id="prices" name="prices">
                            <option selected="selected" value="0">Select price</option>
                            <option value="1">Less than 500$</option>
                            <option value="2">500 - 1000$</option>
                            <option value="3">1000 - 1500$</option>
                            <option value="4">1500 - 2000$</option>
                            <option value="5">2000 - 2500$</option>
                            <option value="6">2500$ - 3000$</option>
                            <option value="7">Over 3000$</option>
                        </select>
                    </div>
                    <div class="title_input_search">Code</div>
                    <div class="input_search">
                        <input name="codes" id="codes" type="text">
                    </div>

                    <input id="but_tim" value="Search" onclick="redirect()" type="button">
                </div>
            </div>




        </div>





        <script type="text/javascript">

            function redirect() {

                window.location = "http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=search&amp;layout=blog&amp;Itemid=72&amp;loai_bds=" + document.getElementById('loai_bds').value + "&amp;areas=" + document.getElementById('areas').value + "&amp;sizes=" + document.getElementById('sizes').value + "&amp;bedrooms=" + document.getElementById('bedrooms').value + "&amp;codes=" + document.getElementById('codes').value + "&amp;prices=" + document.getElementById('prices').value + "&amp;locs=" + document.getElementById('loc').value + "";
            }
            jQuery.noConflict();
            (function ($) {
                $(document).ready(function () {
                    $('#bg_mod_tk input').bind('keypress', function (e) {
                        if (e.keyCode == 13) {
                            redirect();
                        }
                    });
                });
            })(jQuery);
        </script>
        <script type="text/javascript">

            jQuery.noConflict();

            (function ($) {
                $(document).ready(function () {
                    $('.areas').hide();
                    $('#loc').load("index.php?option=com_vnson_product&amp;view=categorys&amp;layout=ajax&amp;loai_bds=0&amp;format=raw");
                    $('#loai_bds').change(function () {
                        var intId = $(this).val();
                        //alert(intId);
                        //$('#loc').load("index.php?option=com_vnson_product&amp;view=categorys&amp;layout=ajax&amp;loai_bds="+intId+"&amp;format=raw");


                    });
                    $('#areas').change(function () {
                        var index = document.getElementById('areas').selectedIndex;
                        var intId = document.getElementById('areas').options[index].id;
                        $('#loc').load("index.php?option=com_vnson_product&amp;view=categorys&amp;layout=ajax&amp;loai_bds=0&amp;areas=" + intId + "&amp;format=raw");

                    });
                });
            })(jQuery);
        </script>


    </div>
    <div class="moduletable">
        <div class="top_side_left">LAND LORD</div>
        <div class="block_cate bg_side_left landlord">
            Advertising with H2H - One of the Fastest and most Effective channels
            to advertise your properties to foreigner clients from over the world.
            MAKE IT POPULAR WITH H2H NOW.&nbsp;&nbsp;&nbsp;<a href="http://www.house2home.com.vn/index.php?option=com_vnson_contact&amp;view=contactg&amp;Itemid=70&amp;lang=en">Click here</a>
        </div>
    </div>
    <div class="moduletable">
        <div class="top_side_left">USEFUL LINKS</div>
        <div class="block_cate bg_side_left">
            <div class="list_green ">
                <a href="http://www.house2home.com.vn/index.php?option=com_vnson_content&amp;view=content&amp;id=3&amp;Itemid=69&amp;lang=en">
                    Supermarkets
                </a>
            </div>
            <div class="sepa_dot"></div>

            <div class="list_green ">
                <a href="http://www.house2home.com.vn/index.php?option=com_vnson_content&amp;view=content&amp;id=4&amp;Itemid=69&amp;lang=en">
                    Restaurants
                </a>
            </div>
            <div class="sepa_dot"></div>

            <div class="list_green ">
                <a href="http://www.house2home.com.vn/index.php?option=com_vnson_content&amp;view=content&amp;id=5&amp;Itemid=69&amp;lang=en">
                    Education
                </a>
            </div>
            <div class="sepa_dot"></div>

            <div class="list_green ">
                <a href="http://www.house2home.com.vn/index.php?option=com_vnson_content&amp;view=content&amp;id=6&amp;Itemid=69&amp;lang=en">
                    Health Care
                </a>
            </div>
            <div class="sepa_dot"></div>

            <div class="list_green list_green_last">
                <a href="http://www.house2home.com.vn/index.php?option=com_vnson_content&amp;view=content&amp;id=7&amp;Itemid=69&amp;lang=en">
                    Banks
                </a>
            </div>

        </div>
    </div>

    <div class="top_side_left">PHU MY HUNG MAP</div>
    <div class="block_cate">
        <div class="moduletable_map">
            <a href="http://maps.google.com/maps?saddr=T%C3%A2n+Ph%C3%BA,+Qu%E1%BA%ADn+7,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam&amp;hl=en&amp;ie=UTF8&amp;ll=10.721755,106.725912&amp;spn=0.047901,0.077162&amp;sll=10.722967,106.71087&amp;sspn=0.005988,0.009645&amp;mra=ltm&amp;t=m&amp;z=14" target="_blank"><img src="Apartment,%20Villas%20for%20rent%20in%20Phu%20My%20Hung,District%207,%20HCMC,%20VN_files/map2.png" alt="" border="0" height="168" width="186"></a>
        </div>

    </div>
    <div class="moduletable_poll">
        <form action="index.php" method="post" name="form2">

            <div class="top_side_left" style="margin-top:10px">POLL </div>


            <div class="bg_side_left">
                <table class="poll_poll" align="center" border="0" cellpadding="1" cellspacing="0" width="95%">
                    <tbody>
                        <tr><td><b>FINDING OUR WEBSITE BY?</b></td></tr>
                        <tr>
                            <td align="left">
                                <table class="pollstableborder_poll" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="sectiontableentry2_poll" valign="top">
                                                <input name="voteid" class="voteid" id="voteid1" value="1" alt="1" checked="checked" type="radio">
                                            </td>
                                            <td class="sectiontableentry2_poll" valign="top">
                                                <label for="voteid1">
                                                    Internet
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sectiontableentry1_poll" valign="top">
                                                <input name="voteid" class="voteid" id="voteid2" value="2" alt="2" type="radio">
                                            </td>
                                            <td class="sectiontableentry1_poll" valign="top">
                                                <label for="voteid2">
                                                    Friend
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sectiontableentry2_poll" valign="top">
                                                <input name="voteid" class="voteid" id="voteid3" value="3" alt="3" type="radio">
                                            </td>
                                            <td class="sectiontableentry2_poll" valign="top">
                                                <label for="voteid3">
                                                    Leaflet
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sectiontableentry1_poll" valign="top">
                                                <input name="voteid" class="voteid" id="voteid4" value="4" alt="4" type="radio">
                                            </td>
                                            <td class="sectiontableentry1_poll" valign="top">
                                                <label for="voteid4">
                                                    Clips
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sectiontableentry2_poll" valign="top">
                                                <input name="voteid" class="voteid" id="voteid5" value="5" alt="5" type="radio">
                                            </td>
                                            <td class="sectiontableentry2_poll" valign="top">
                                                <label for="voteid5">
                                                    Others
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div align="center">
                                    <input id="vote_submit" name="task_button" class="button" value="Vote" type="submit">
                                    &nbsp;

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <input name="option" value="com_poll" type="hidden">
                <input name="task" value="vote" type="hidden">
                <input name="id" id="poll_id" value="14" type="hidden">
                <input name="a9cd2f17807565b09e2076c23015799e" value="1" type="hidden">
            </div>
        </form>
        <script type="text/javascript">

            jQuery.noConflict();

            (function ($) {
                $(document).ready(function () {
                    $('#vote_submit').click(function (e) {
                        var intId = $(".voteid:checked").val();
                        var poll_id = $('#poll_id').val();
                        $.ajax({
                            type: "POST",
                            url: "index.php?option=com_poll&amp;id=" + poll_id + "&amp;voteid=" + intId,
                            success: function () {
                                alert("Thank you!");
                            }
                        });
                        e.preventDefault();
                    });

                });
            })(jQuery);
        </script>
    </div>
    <div class="moduletableHotline">
        <div class="top_side_left">HOTLINE</div><div class="bg_side_left"><div class="hotphone">Ms.Rita</div><div class="sepa_yahoo"></div><div class="email"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_contact&amp;view=contact&amp;Itemid=54&amp;lang=en">0902 788 770</a></div><div class="sepa_yahoo"></div><div class="sepa_yahoo"></div></div>
    </div>
    <div class="moduletable_counter">
        <div id="vistor-c" class="bg_side_left">
            <div id="so-c" style="text-align: center;">
                <div class="top_side_left" style="text-align:left">VISITORS</div>
                <div class="now_online">Now online: 247</div><img src="~/images/1.gif" alt=""><img src="~/images/0.gif" alt=""><img src="~/images/1.gif" alt="">
            </div><div id="chu-c"><table style="text-align: center; width: 90%;" class="vinaora_counter" cellpadding="0" cellspacing="0"><tbody align="center"><tr align="left"><td style="padding-right:0px;" align="right" width="50%">Today</td><td align="center">37</td></tr></tbody></table></div>
        </div>
    </div>

</div>

