@model List<Real_Estate.Models.PropertyModel>
@{
    ViewBag.Title = "Menu";
}
@{
    Layout = null;
}
<div id="menu">
    <div class="moduletable">
        <ul id="nav" class="dropdown dropdown-horizontal">
            <li class="menu_active" id="menu_1">
                <span><a href="">Homepage</a></span>
            </li>
            @foreach (var item in Model)
            {
                <li class="dir" id="@item.id">
                    <span>@item.name_eng</span>
                    <ul class="menu_muti_col">
                        @if (item.ls_Location.Count >0)
                        {
                            <li style="width:800px;height:170px;">
                                @foreach (var sub in item.ls_Location)
                                {

                                    {
                                        <div style="float:left;width:140px;background-image:none" class="megacol">
                                            <a style="" href="">@sub.location_name_eng</a>
                                        </div>
                                    }

                                }

                            </li>
                        }
                        else
                        {
                            
                        }
                    </ul>
                </li>

            }
        </ul>
    </div>
</div>


@*<div id="menu">
        <div class="moduletable">
            <ul id="nav" class="dropdown dropdown-horizontal">
                <li class="menu_active" id="menu_1">
                    <span><a href="">Homepage</a></span>
                </li>
                <li class="dir " id="menu_2">
                    Apartment for rent
                    <ul class="menu_muti_col">
                        <li style="width:800px;height:170px;">
                            <div style="float:left;width:140px;background-image:none" class="megacol">
                                <a style="" href="">
                                    Canh Vien
                                </a>
                            </div>

                            <div style="float:left;width:140px;background-image:none" class="megacol">
                                <a style="" href="">
                                    Garden Plaza
                                </a>
                            </div>

                            <div style="float:left;width:140px;background-image:none" class="megacol">
                                <a style="" href="">
                                    Garden Court
                                </a>
                            </div>

                            <div style="float:left;width:140px;background-image:none" class="megacol">
                                <a style="" href="">
                                    Grandview
                                </a>
                            </div>

                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Greenview
                                </a>
                            </div>

                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My An
                                </a>
                            </div>

                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Canh
                                </a>
                            </div>

                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Duc
                                </a>
                            </div>

                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Khang
                                </a>
                            </div>

                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Khanh
                                </a>
                            </div>

                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Phat
                                </a>
                            </div>

                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Phuc
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Phuoc
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Vien
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Nam Khang
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Panorama
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Parkview
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Riverpark
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Riverside
                                </a>
                            </div>


                            <div style="possition:absolute;margin-top:4px;" class="megaright">
                                <a style="padding-right:54px" href="">
                                    Sky Garden
                                </a>
                            </div>

                        </li>
                    </ul>
                </li>
                <li class="dir " id="menu_63">
                    Villa for rent<ul class="menu_muti_col">
                        <li style="width:800px;;height:170px;">
                            <div style="float:left;width:140px;background-image:none" class="megacol">
                                <a style="" href="">
                                    Lam Thien Luc Dia
                                </a>
                            </div>


                            <div style="float:left;width:140px;background-image:none" class="megacol">
                                <a style="" href="">
                                    My Giang
                                </a>
                            </div>


                            <div style="float:left;width:140px;background-image:none" class="megacol">
                                <a style="" href="">
                                    My Hao
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Hoang
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Hung
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Kim
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Quang
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Tu
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Phu
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Thai
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    My Van
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Nam Do
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Nam Long
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Nam Quang
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Nam Thien
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Phu Gia
                                </a>
                            </div>


                            <div style="float:left;width:140px;" class="megacol">
                                <a style="" href="">
                                    Phu My
                                </a>
                            </div>


                            <div style="possition:absolute;margin-top:4px;" class="megaright">
                                <a style="" href="">
                                    Hung Thai
                                </a>
                            </div>


                        </li>
                    </ul>

                </li>

                <li class="dir " id="menu_61">
                    Townhouse/Office<ul class="menu_muti_col">
                        <li>
                            <div style="background-image:none" class="megacol">
                                <a style="" href="">
                                    Hung Gia
                                </a>
                            </div>


                            <div style="" class="megacol">
                                <a style="" href="">
                                    Hung Phuoc
                                </a>
                            </div>


                            <div style="" class="megacol">
                                <a style="" href="">
                                    My Toan
                                </a>
                            </div>


                            <div style="" class="megacol">
                                <a style="" href="">
                                    My Hoang
                                </a>
                            </div>


                            <div style="" class="megacol">
                                <a style="" href="">
                                    My Hung
                                </a>
                            </div>


                        </li>
                    </ul>

                </li>

                <li class="" id="menu_27">
                    <span><a href="">OTHER</a></span>
                </li>

                <li class="" id="menu_62">
                    <span><a href="">Services</a></span>
                </li>

                <li class="" id="menu_41">
                    <span><a href="">News</a></span>
                </li>

            </ul>

        </div>
    </div>*@

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.item_more').click(function () {
            var id = jQuery(this).attr('rel');
            var item = ".item_hidden" + id;
            jQuery(item).show();
            jQuery(this).hide();
        });
        jQuery('.item_close').click(function () {
            var id = jQuery(this).attr('rel');
            var item = ".item_hidden" + id;
            jQuery(item).hide();
            jQuery(item).trigger('click');
        });
    });
</script>