
@{
    ViewBag.Title = "Right";
}
@{
    Layout = null;
}
<div id="right_content">
    <div class="moduletable">

        <script src="~/images/slimbox_ex_compressed.js" language="javascript" type="text/javascript"></script>
        @*<script type="text/javascript">
            window.addEvent('domready', function () {
                var allIMG = $$('body #slide_product_wrap .img');
                allIMG.each(function (obj) {
                    obj.style.display = 'none';
                });
                allIMG[0].style.display = 'block';
            });
            function slideGallery(cuItem) {
                var allIMG = $$('body #slide_product_wrap_inner .img');
                cuItem = $('product_item_show').value;
                if (cuItem == 3) {
                    cuItem = 0;
                    $('product_item_show').value = 0;
                }
                $('product_item_show').value = parseInt(cuItem) + 1;

                var boxIMG = $('slide_product_wrap_inner').effects({ duration: 1200, transition: Fx.Transitions.Bounce.easeInOut });
                boxIMG.start({
                    'opacity': 0.4
                }).chain(function () {
                    allIMG.each(function (obj) {
                        obj.style.display = 'none';
                    });
                    allIMG[cuItem].style.display = 'block';
                    this.start.delay(0, this, {
                        'opacity': 1
                    });
                });
            }
            var interval = self.setInterval('slideGallery();', 5000);
        </script>*@
        <input id="product_item_show" value="3" type="hidden">
        <div class="bg_mod_side">
            <div class="top_side_right">SERVICE</div>

            <div id="slide_product_wrap">

                <div style="visibility: visible; opacity: 0.47065;" id="slide_product_wrap_inner">

                    <div style="display: none;" class="img">
                        <div class="wrap_service_img">
                            <a href="http://www.house2home.com.vn/index.php?option=com_vnson_news&amp;view=news&amp;id=29&amp;Itemid=62&amp;lang=en">
                                <img src="~/images/30589015120120229030301Relocation_Service.jpg" alt="">
                            </a>
                        </div>

                    </div>
                    <div style="display: block;" class="img">
                        <div class="wrap_service_img">
                            <a href="http://www.house2home.com.vn/index.php?option=com_vnson_news&amp;view=news&amp;id=28&amp;Itemid=62&amp;lang=en">

                                <img src="~/images/24126307920120229025640Maintenance_Service.jpg" alt="">
                            </a>
                        </div>

                    </div>
                    <div style="display: none;" class="img">
                        <div class="wrap_service_img">
                            <a href="http://www.house2home.com.vn/index.php?option=com_vnson_news&amp;view=news&amp;id=27&amp;Itemid=62&amp;lang=en">
                                <img src="~/images/97657217620120229024617Maid_Service.jpg" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="moduletable">
        <div class="top_side_right" style="margin-top:10px;">Hot list apartments</div>
        <div class="mid_right">
            <div class="block_cate list_news_home">

                <div class="left_news_home">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=707&amp;Itemid=2&amp;lang=en">
                        <img src="~/images/apartment-for-rent-in-phu-my-hung%2520%25209593.jpg" alt="">
                    </a>
                </div>

                <div class="right_news_home">
                    <div class="name_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=707&amp;Itemid=&amp;lang=en">The most beautiful penthouse for rent in Panorama, Phu My Hung.</a></div>
                    <div class="">Huge size, wonderful view, luxurious fur...</div>

                    <div class="chitiet_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=707&amp;Itemid=2&amp;lang=en">More</a></div>
                </div>
            </div>
            <div class="sepa_dot"></div>
            <div class="block_cate list_news_home">

                <div class="left_news_home">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=687&amp;Itemid=2&amp;lang=en">
                        <img src="~/images/apartment-for-rent-in-riverside-phu-my-hung%25208718.jpg" alt="">
                    </a>
                </div>

                <div class="right_news_home">
                    <div class="name_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=687&amp;Itemid=&amp;lang=en">Western penthouse for rent in Riverside, Phu My Hung.</a></div>
                    <div class="">High floor, all rooms in 1 flat, Western...</div>

                    <div class="chitiet_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=687&amp;Itemid=2&amp;lang=en">More</a></div>
                </div>
            </div>
            <div class="sepa_dot"></div>
            <div class="block_cate list_news_home">

                <div class="left_news_home">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=682&amp;Itemid=2&amp;lang=en">
                        <img src="~/images/penthouse-for-rent-in-phu-my-hung%2520%252011947.jpg" alt="">
                    </a>
                </div>

                <div class="right_news_home">
                    <div class="name_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=682&amp;Itemid=&amp;lang=en">Super penthouse for rent in Garden Court, Phu My Hung.</a></div>
                    <div class="">An excellent penthouse, the best of ever...</div>

                    <div class="chitiet_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=682&amp;Itemid=2&amp;lang=en">More</a></div>
                </div>
            </div>
            <div class="sepa_dot"></div>
            <div class="block_cate list_news_home">

                <div class="left_news_home">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=680&amp;Itemid=2&amp;lang=en">
                        <img src="~/images/penthouse-for-rent-in-sky-garden%2520%252018253.jpg" alt="">
                    </a>
                </div>

                <div class="right_news_home">
                    <div class="name_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=680&amp;Itemid=&amp;lang=en">Brandnew and deluxe penthouse for rent in Sky Garden 3.</a></div>
                    <div class="">New, full furniture, nice interior, clas...</div>

                    <div class="chitiet_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=680&amp;Itemid=2&amp;lang=en">More</a></div>
                </div>
            </div>

        </div>
        <div class="bot_right"></div>








    </div>
    <div class="moduletable">
        <div class="top_side_right" style="margin-top:10px;">hot list villa</div>
        <div class="mid_right">
            <div class="block_cate list_news_home">

                <div class="left_news_home">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=712&amp;Itemid=63&amp;lang=en">
                        <img src="~/images/villa-for-rent-in-phu-my-hung%2520%252031733.jpg" alt="">
                    </a>
                </div>

                <div class="right_news_home">
                    <div class="name_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=712&amp;Itemid=&amp;lang=en">Attractive villa for rent in Hung Thai, Phu My Hung.</a></div>
                    <div class="">It's really interesting villa with wonde...</div>

                    <div class="chitiet_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=712&amp;Itemid=63&amp;lang=en">More</a></div>
                </div>
            </div>
            <div class="sepa_dot"></div>
            <div class="block_cate list_news_home">

                <div class="left_news_home">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=710&amp;Itemid=63&amp;lang=en">
                        <img src="~/images/villa-for-rent-in-phu-my-hung%25206395.jpg" alt="">
                    </a>
                </div>

                <div class="right_news_home">
                    <div class="name_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=710&amp;Itemid=&amp;lang=en">Single villa with pool for rent in My Phu, Phu My Hung.</a></div>
                    <div class="">One of the nice villa with pool for rent...</div>

                    <div class="chitiet_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=710&amp;Itemid=63&amp;lang=en">More</a></div>
                </div>
            </div>
            <div class="sepa_dot"></div>
            <div class="block_cate list_news_home">

                <div class="left_news_home">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=684&amp;Itemid=63&amp;lang=en">
                        <img src="~/images/villa-for-rent-in-district-7%2520%25207194.jpg" alt="">
                    </a>
                </div>

                <div class="right_news_home">
                    <div class="name_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=684&amp;Itemid=&amp;lang=en">Villa with swimming pool for rent in Nam Phu, District 7.</a></div>
                    <div class="">Locates in a strict security compound, i...</div>

                    <div class="chitiet_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=684&amp;Itemid=63&amp;lang=en">More</a></div>
                </div>
            </div>
            <div class="sepa_dot"></div>
            <div class="block_cate list_news_home">

                <div class="left_news_home">
                    <a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=579&amp;Itemid=63&amp;lang=en">
                        <img src="~/images/71038372720140521120535villa-for-rent-in-phu-my-hung__6.jpg" alt="">
                    </a>
                </div>

                <div class="right_news_home">
                    <div class="name_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=579&amp;Itemid=&amp;lang=en">Villa with private pool for rent in Hung Thai compound.</a></div>
                    <div class="">Single villa with 2 storeys, 2 floors, 4...</div>

                    <div class="chitiet_item"><a href="http://www.house2home.com.vn/index.php?option=com_vnson_product&amp;view=product&amp;id=579&amp;Itemid=63&amp;lang=en">More</a></div>
                </div>
            </div>

        </div>
        <div class="bot_right"></div>








    </div>

</div>