
@{
    ViewBag.Title = "Header";
}

@{
    Layout = null;
}
<div id="headeradmin">
    <div>
        <ul id="nav" class="dropdown">
            <li class="menu_active" id="menu_1">
                <span><a href="">Homepage</a></span>
            </li>
            <li class="dir " id="menu_2">
                <a href="../../Admin/AddRealEstate">Add Real Estate</a>
            </li>
            <li class="dir " id="menu_63"> 
                <a href="../../Admin/AddProperty">Add Property</a>
            </li>
            <li class="dir " id="menu_61">
                <a href="../../Admin/AddLocation">Add Location</a>
            </li>
        </ul>
    </div>
</div>

