
@{
    ViewBag.Title = "Header";
}

@{
    Layout = null;
}
<div id="headeradmin">
    <div class="moduletable">
        <ul id="nav" class="dropdown dropdown-horizontal">
            <li class="menu_active" id="menu_1">
                <span><a href="">Homepage</a></span>
            </li>
            <li class="dir " id="menu_2">
                Add Real Estate
                
            </li>
            <li class="dir " id="menu_63">
                Add Property
            </li>

            <li class="dir " id="menu_61">
                Add Location
            </li>


        </ul>

    </div>
</div>

