
@{
    ViewBag.Title = "Index";
}

<form id="uploader">
    <input id="fileInput" type="file" multiple>
    <input type="submit" value="Upload file" />
</form>

<form id="uploader2">
    <input id="fileInput" type="file" multiple>
    <input type="submit" value="Upload file" />
</form>
<div>
    <input type="file" name="UploadFile" id="txtUploadFile" class="makethispretty" />
</div>  

<a id="btnUpload" class="btn btn-default"><i class="fa fa-upload"></i> Thay đổi hình đại diện</a>
<div id="uploadimage-window" style="display:none;">
    <form method="post" id="fileinfo" name="fileinfo" onsubmit="return saveImageForm();">
        <div class="form-group ">
            <input type="file" style="float: left; height: 35px;" id="filename" name="filename" />
            <input type="submit" style="float:right" class="btn btn-md btn-primary" value="Lưu" onclick="return CheckFileName();" />
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#btnUpload").click(function (e) {
            e.preventDefault();
            var window = $("#uploadimage-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "400px",
                    title: "Upload",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
    document.getElementById('uploader').onsubmit = function () {
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/DemoUpfile/Upload');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);
            }
        }
        return false;
    }

    window.onload = function () {
        document.getElementById('uploader2').onsubmit = function () {
            var fileInput = document.getElementById('fileInput');
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '../DemoUpfile/Upload_2');
            xhr.setRequestHeader('Content-type', 'multipart/form-data');
            //Appending file information in Http headers
            xhr.setRequestHeader('X-File-Name', fileInput.files[0].name);
            xhr.setRequestHeader('X-File-Type', fileInput.files[0].type);
            xhr.setRequestHeader('X-File-Size', fileInput.files[0].size);
            //Sending file in XMLHttpRequest
            xhr.send(fileInput.files[0]);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    alert(xhr.responseText);
                }
            }
            return false;
        }
    }


    $('#txtUploadFile').on('change', function (e) {
        var files = e.target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '/MyController/UploadFile?id=' + myID,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

</script>

